* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    /*background-image: url("../Pictures/sunset1.jpg") ;*/
    background-image: linear-gradient(#ed4264, #ffedbc);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    border:0;
}
/*#a3e9cc,#2e25b188*/

header {
    background-color: #4325b1;
    color: #ffffff;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    padding: 16px;
}

header h1 {
    height: min-content;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
}


header nav {
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
    font-size: 16px;
    align-content: flex-end;
    size: fit-content;
    position: relative;
    display: inline-flex;
}

nav a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 0 16px 0 16px;
}

section {
    width: 100%;
}

#bio {
    height: fit-content;
    display: flex;
}

figure {
    flex-direction: column;
    align-items: center;
}

#profpic {
    height: 300px;
    width: 300px;
    border-radius: 32px;
    margin: 32px;
    max-height: 21.875rem;
}

figcaption {
    text-align: center;
}

figure a {
    text-align: center;
}

#about-me {
    width: 25rem;
    height: fit-content;
    margin: auto auto auto 0;
    background-color: aliceblue;
    border-radius: 2rem;
}

#about-me p {
    margin: 16px;
}

#work-title {
    width: fit-content;
}

h2 {
    color: #ffffff;
    padding: 16px;
    height: fit-content;
    width: fit-content;
}

#work {
    
    justify-content: space-around;
}

#work-figs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.work-sample {
    height: 80%;
    width: 80%;
    border-radius: 2rem;
    border: 1px solid black;
    border
    margin: auto;
    flex-grow: 8;
}

.work-pic-wide {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work-pic {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    width: 100%;
    display: flex;
    height: 10%;
    background-color: #4325b1;
    justify-content: flex-start;
    align-items: center;
}

footer h2 {
    margin: 0 0 0 0;
}

footer a {
    position: fixed;
    bottom: 100vh;
    color: #ffffff;
    padding: 20.8px;
    text-decoration: none;
    font-size: 16px;
    height: fit-content;
    width: fit-content;
    vertical-align: middle;
}